/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Nov, 2020, 6:52:37 PM
    Author     : sparshshah
*/


body{
    margin:0;
    padding:0;
    font-family: neo;
    background-color: #F7B733;
   
}

@font-face{
    src: url("fonts/neo.ttf");
    font-family: neo;
    
}





  h1{
      text-align: center;
      color: black;
      font-family: neo;
      font-weight: bolder;
      font-size: 70px;
  }
  
        
        
        .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        
    }

    .navbar-links ul li {
        text-align: left;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
       
    }

    .navbar-links.active {
        display: flex;
    }
}

  *{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.slider{
	overflow: hidden;
	height: auto;
        background-color: #4ABDAC;
        height: 550px;
}

.slider figure div{
	width: 20%;
	float: left;
}

.slider figure h2{
	width: 100%;
	float: left;
        font-size:70px;
        text-align: center;
        color: black;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top:12% ;
        
       
	
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slidy infinite;
}

@keyframes slidy{
	0%{
		left: 0%
	}

	10%{
		left: 0%;
	}

	12%{
		left: -100%;
	}

	22%{
		left: -100%;
	}

	24%{
		left: -200%;
	}

	34%{
		left: -200%;
	}

	36%{
		left: -300%;
	}

	46%{
		left: -300%;
	}

	48%{
		left: -400%;
	}

	58%{
		left: -400%;
	}

	60%{
		left: -300%;
	}

	70%{
		left: -300%;
	}

	72%{
		left: -200%;
	}

	82%{
		left: -200%;
	}

	84%{
		left: -100%;
	}

	94%{
		left: -100%;
	}

	96%{
		left: 0%;
	}

	100%{
		left: 0%;
	}
}
  .homegraphics {
margin: 60px auto;
text-align: center;
width: 90%;
}

.onethird{
    float: left;
    width: 32%;
     
}

.onethirdmiddle{
    margin: 0 2%;
    width: 32%;
    float: left;
}

.outline{
    background-color: #E24E42;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 177.781px;
}
.outline h1{
    color: white;
    margin-top: 46.90px;
    margin-bottom: 46.90px;
    
}

h2{
    padding-bottom: 20px;
    font-family: neo;
    color: black;
    
}